@import "mixins";

.page-footer {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  padding-bottom: 0;
  @include desktop {
    padding-bottom: 24px;
  }
}

.page-micro {
  background-color: #444;
  padding: 12px;
  color: #fff;
  a {
    color: #fff;
  }
}

.page-micro__copy {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  display: block;
}
