@import "mixins";

.page-header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  @include tablet {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-header--headlinebox {
  position: relative;
  top: 16%;
}

.page-header--masthead {
  margin-bottom: 0;
  // TODO use different images for diff sizes
  background: url('../images/patterns/home-pattern.png'), url('../images/ftf-main-bg-black.jpg'), linear-gradient(rgba(0, 0, 0, 0.9), rgba(25, 21, 21, 0.7));
  background-repeat: repeat, no-repeat;
  background-position: center center, center top;
  background-size: auto, cover;
  color: #fff;
  border-top-color: #fff;
  border-bottom-width: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1) inset;
  height:100%;
  & > .wrapper {
    position: relative;
    padding-top: 56.25%;
    @include tablet {
      padding-top: 0;
      height:100%;
    }
  }
  @include tablet {
  }
  @include desktop {
  }
}

.page-header__text {
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  @include tablet {
    font-size: 1.4rem;
  }
  @include desktop {
    font-size: 1.6rem;

  }
}
