@import "mixins";

.carousel {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.carousel__panes {
  margin: 0;
  padding: 3em 0;
  list-style: none;
  position: relative;
  display: table;
  width: 500%;
  overflow: hidden;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  filter: blur(0);
  @include animation('carousel-animation 45s alternate infinite');
  &:hover {
    @include animation('paused');
  }
}

.carousel__pane {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 20%;
}

.carousel__link {
  color: inherit;
  border-bottom: 1px solid #ddd;
  font-weight: 300;
  -webkit-transition: 0.2s border-color;
  -moz-transition: 0.2s border-color;
  transition: 0.2s border-color;
  &:hover, &:active, &:focus {
    text-decoration: none;
    border-bottom-color: #c4c4c4;
  }
}

@-webkit-keyframes carousel-animation {
  0%,17.5% {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: blur(0);
  }

  20.625%,38.125% {
    -webkit-transform: translate3d(-20%, 0, 0);
    -webkit-filter: blur(0);
  }

  41.25%,58.75% {
    -webkit-transform: translate3d(-40%, 0, 0);
    -webkit-filter: blur(0);
  }

  61.875%,79.375% {
    -webkit-transform: translate3d(-60%, 0, 0);
    -webkit-filter: blur(0);
  }

  82.5%,100% {
    -webkit-transform: translate3d(-80%, 0, 0);
    -webkit-filter: blur(0);
  }

  19.0625%,39.6875%,60.3125%,80.9375% {
    -webkit-filter: blur(2px);
  }
}

@-moz-keyframes carousel-animation {
  0%,17.5% {
    -moz-transform: translate3d(0, 0, 0);
    -moz-filter: blur(0);
  }

  20.625%,38.125% {
    -moz-transform: translate3d(-20%, 0, 0);
    -moz-filter: blur(0);
  }

  41.25%,58.75% {
    -moz-transform: translate3d(-40%, 0, 0);
    -moz-filter: blur(0);
  }

  61.875%,79.375% {
    -moz-transform: translate3d(-60%, 0, 0);
    -moz-filter: blur(0);
  }

  82.5%,100% {
    -moz-transform: translate3d(-80%, 0, 0);
    -moz-filter: blur(0);
  }

  19.0625%,39.6875%,60.3125%,80.9375% {
    -moz-filter: blur(2px);
  }
}

@keyframes carousel-animation {
  0%,17.5% {
    transform: translate3d(0, 0, 0);
    filter: blur(0);
  }

  20.625%,38.125% {
    transform: translate3d(-20%, 0, 0);
    filter: blur(0);
  }

  41.25%,58.75% {
    transform: translate3d(-40%, 0, 0);
    filter: blur(0);
  }

  61.875%,79.375% {
    transform: translate3d(-60%, 0, 0);
    filter: blur(0);
  }

  82.5%,100% {
    transform: translate3d(-80%, 0, 0);
    filter: blur(0);
  }

  19.0625%,39.6875%,60.3125%,80.9375% {
    filter: blur(2px);
  }
}
