@import "mixins";

.site-nav {
  position: absolute;
  top: 0;
  right: 12px;
  left: 12px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  @include tablet {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    top: 0;
    right: 24px;
    left: 24px;
  }
}

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  @include tablet {
    float: right;
    overflow: visible;
  }
}

.site-nav__item {
  float: left;
  width: 50%;
  @include tablet {
    width: auto;

    &:last-child a {
      padding-right: 0;
    }
  }
}

.site-nav__link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #FFF;
  &:hover, &:active, &:focus {
    text-decoration: none;
    border-bottom: 2px solid #FFF;
  }
  @include tablet {
    line-height: 64px;
  }
}
