$inuit-use-fractions:    false;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

$inuit-btn-background:      rgba(0,0,0,0.5) !default;
$inuit-btn-color:           #fff !default;
$inuit-btn-border-width:    2px !default;
$inuit-btn-border-style:    solid !default;
$inuit-btn-border-color:    #616a71 !default;
$inuit-btn-radius:          1px !default;

// starter-kit
@import "../../bower_components/inuit-defaults/settings.defaults";

//@import "settings.colors";
@import "../../bower_components/inuit-responsive-settings/settings.responsive";

@import "../../bower_components/inuit-functions/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";
@import "../../bower_components/inuit-responsive-tools/tools.responsive";

@import "../../bower_components/inuit-normalize/generic.normalize";
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";
@import "../../bower_components/inuit-shared/generic.shared";

@import "../../bower_components/inuit-page/base.page";
@import "../../bower_components/inuit-headings/base.headings";

@import "../../bower_components/inuit-buttons/objects.buttons";
@import "../../bower_components/inuit-layout/objects.layout";

@import "components.page-header";
@import "components.page-footer";
@import "components.site-nav";
@import "components.carousel";
@import "components.devices";

@import "../../bower_components/inuit-widths/trumps.widths";
@import "../../bower_components/inuit-widths-responsive/trumps.widths-responsive";
@import "../../bower_components/inuit-spacing/trumps.spacing";

$font-stack-primary: 'Source Sans Pro', sans-serif;
$font-weight-normal-primary: 400;
$font-weight-bold-primary: 900;
$font-stack-secondary: 'Open Sans Condensed', sans-serif;
$font-weight-normal-secondary: 300;
$font-weight-bold-secondary: 700;

html {
  font-size: 1em/1.5;
  font-family: $font-stack-primary;
  font-weight: $font-weight-normal-primary;
  background-color: #FFF;
  color: #333;
}

html, body{
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-secondary;
  font-weight: $font-weight-bold-secondary;
}

input {
  margin: 0px;
  padding: 0px;
}

.headline {
  font-family: $font-stack-primary;
  font-weight: $font-weight-bold-primary;
  line-height: 1em;
  color: #EEE;
  text-align: center;
  .headline__huge {
    font-size: 3.4em;
    line-height: 1em;
    text-transform: uppercase;
    sup {
      font-size: 0.6em;
      text-transform: lowercase;
    }
  }
}
.subscription {
  position: relative;
  top: 32%;
  text-align: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  &.wrapper--head {
    max-width: 100%;
    padding: 0 2em;
  }
  @include tablet {
    padding: 0 1em;
  }
}


.band {
  padding-top: 24px;
  padding-bottom: 24px;
  @include desktop {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.band--tint {
  background-color: #f2f2f2;
}

.promo {
  padding-bottom: 0;
  @include desktop {
    padding-bottom: 24px;
  }
}

.promo__links {
  text-align: center;
  @include tablet {
    word-spacing: 1.5em;
  }
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.pull-quote {
  font-family: $font-stack-secondary;
  font-weight: $font-weight-normal-secondary;
  max-width: 26em;
  font-size: 2em;
  line-height: 1em;
  text-indent: 0;
  border-left: none;
  margin: 0 auto;
  color: #444;
  font-style: normal;
  cite {
    font-family: $font-stack-primary;
    font-weight: $font-weight-normal-primary;
    color: #999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    font-style: initial;
    a, a:hover, a:visited {
      color: #666;
      text-decoration: none;
      font-style: italic;
    }
    &:before {
      content: "\2014 \2009";
    }
  }
}
.divider {
  display: block;
  margin: 2px auto;
  width: 60%;
  height: 1px;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  border-bottom: rgba(255, 255, 255, 0.6) 3px solid;
}
.email {
  padding: 11px 23px;
  color: #333;
  width: 100%;
}
.btn--subscribe {
  font-family: $font-stack-primary;
  font-weight: $font-weight-normal-primary;
}

button, input[type="submit"]::-moz-focus-inner {
  border: 0;
}

button, input[type="submit"], input[type="text"] {
  line-height:normal !important;
}

ul.temp { // TODO
  margin: 0;
  padding: 0;
  list-style-type: none;
  a.temp--link {
    color: deeppink;
  }
}
ul.social {
  text-align: center;
  margin: 0;
  padding: 0;
    list-style-type: none;
  li {
    display: inline;
    padding: 0 1em;
    img {
      width: 20%;
    }
  }
}

.logo {
  display: block;
  text-align: center;
}

.#{$inuit-btn-namespace}btn,
%#{$inuit-btn-namespace}btn {
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  word-spacing: normal;
  &:hover {
    background-color: rgba(4,99,128,0.5);
  }
  &.btn--full {
    width: 100%;
  }
}

.#{$inuit-btn-namespace}btn--full,
%#{$inuit-btn-namespace}btn--full {
  width: 100%;
}
